<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Thinkorama Vue</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/css/lightgallery-bundle.min.css" />
</head>
<body>
  <div id="app" class="container mt-4">
    <h1 class="mb-4">Thinkorama</h1>
    <button class="btn btn-primary mb-4" v-if="!screensaver" @click="startScreensaver">Start Screensaver</button>
    <button class="btn btn-secondary mb-3" v-if="!screensaver" @click="quickView = true">Quick View All Thumbnails</button>
    <gallery v-if="!screensaver" :images="images" :page="galleryPage" @update:page="galleryPage = $event"></gallery>
    <screensaver v-if="screensaver" :images="images" @exit="screensaver = false"></screensaver>
    <quick-view v-if="quickView" :images="images" @close="quickView = false" @goto="goToGalleryIndex"></quick-view>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/lightgallery.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/plugins/zoom/lg-zoom.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/plugins/thumbnail/lg-thumbnail.umd.min.js"></script>
  <script src="js/gallary.js"></script>
  <script src="js/Screensaver.js"></script>
  <script src="js/QuickView.js"></script>
  <script src="js/App.js"></script>
</body>
</html>
