    body {
      background-color: #f8f9fa;
    }
    .card-img-top {
      height: 150px;
      object-fit: cover;
    }
    #screensaver img {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }
